/* --------------------------------Reglas Generales ----------------------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------- Body, Header, main & footer gral -----------------------*/
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    background-color: #ebebeb;;
}

header {
    background-color: #EAC926;
    background-size: cover; 
    padding: 20px;
}

main{
    width: 90%;
    margin: auto;
}

footer{
    text-align: center;
    color:#666;
    background-color: white;
}
/*-------------------------------- tipografias --------------------------------*/

.precios{
    font-size: 18px;
    margin-bottom: 0;
}

.titulares{
    color: #666;
    font-size: 24px;
}

.descuentos{ 
    font-size: 16px; 
    color: #26bb58;
    margin-top: 0; 
    padding-bottom: 16px;
}

.descripciones{  
    font-size: 16px; 
    color: #666;
    font-weight: 400;
    /*padding-bottom: 16px;*/
    margin-bottom: 0px;
    display: none;
}

.copy-header-cel, .copy-header-desktop{
    font-size: 12px;  
    font-weight: 400;
    text-align: center;
}

/*-------------------------------- header --------------------------------*/

.main-header{
    background-color: #EAC926;
    padding: 20px 10px 20px 15px;
    margin: auto;
}

.burger-menu{
    background-color:#03264C;
    color: #ebebeb;
    display: block;
    max-width: 50px;
    padding: 10px 0 ;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    margin:auto;
}

.logo-buscador{
    display: flex;
    justify-content: center;
}


.logo{ 
   /* display: flex;
    flex-wrap: wrap;
    width: 50%;*/
    display: none;
}

.logo-cel{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.buscador{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.buscador-barra{
    width: 84%;
}

.lupa-button{  
    width: 24px;
    height: 25px;
    text-align: center;
    margin: auto;
    margin-left: 2px;
    margin-top: 11px;
    margin-bottom: 0px;
}


.copy-header-cel{
    margin: auto;
    padding: 20px 15px 30px 15px ;
}

.copy-header-desktop{
 display: none;
}

.main-navbar {
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 16px ;
}

/*-------------------banner-------------------*/

.banner {
    width: 100vw;
}


/*------------- Main --------------------------------*/
article{
    margin: 10px 0;
}


.ultima-visita {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buscador-barra{
    width: 84%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #26bb58;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 0.8s;
} 

.info-producto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-between;
    position: relative;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 10px 15px;

}

.precio{
    width: 30%;
}

.descuentos{
    width: 70%;
    margin-right: 30px;

}


/*-------------------------------- footer --------------------------------*/

footer h4 {
    margin-bottom: 0;
    margin-top: 0;
}

footer p {
    font-size: 12px;
    padding: 0px 50px 0px 50px;
    margin-top: 0;
}

footer i {
    margin-bottom: 10px;
    margin-top: 40px;
    color:#2060a5
}

.copyright{
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;
}


/*--------------------------------register--------------------------------*/

h1{
    color: #03264C;
    text-align: center;
    margin: auto;
}

form {
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}


fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #03264C;
}


label {
    display: block;
    margin: 0.5rem 0;
}


.nacimiento{
    padding-top: 10px;
}

input::placeholder{
color: #3b3b4f;
}

input[type="date"]{
color: #3b3b4f;
}

input,
textarea,
select {
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}

input, textarea {
background-color: white;
border: 1px solid #0a0a23;
color: #1f1f1f;
}


input[type="file"] {
padding: 8px 2px;
}

.botones-formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 2px 0 2px;
}

.botones-formulario button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}

.crear-cuenta{
    background-color: #0022AA;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    
}

.borrar-todo{
    background-color: rgba(167, 32, 32, 1);
}



.perfil-usuario{
text-align: center;
padding-bottom: 5px;
font-weight: 800;
}

.perfil-crear{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.interes-usuario{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 800;
}
    
.intereses-usuario{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-decoration: underline;
}

.foto-perfil{
    text-align: center;
    padding-bottom: 5px;
    font-weight: 800;
}

/*-------Login--------*/
    
.boton-login button{
    margin: auto;
    background-color: #0022AA;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
}

.boton-login{
    margin: 10px auto;
    display: block;
    text-align: center;
}



@media(min-width:361px){


    .burger-menu {
        display: none;
    }
    
    .descripciones{  
        display: block;
    }

    .articulo-venta {
        width: 40%;
        justify-content: space-between;
    }

    .articulo-venta:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: box-shadow 0.5s ease-in-out;
    }

    .articulo-venta{
        transition: 1s;
    }

    main section article i:hover{
        transition: 0.7s;
        transform: rotate(-90deg)
    }
    
     /*hover descripciones*/

    .descripciones{
        display: none;
    }
    
    .articulo-venta:hover .descripciones{
        display:block;
    }


    /* ---------------------- header --------------------*/

    .main-header-top-bar {
        display: flex;
        padding-bottom: 20px;
    }
    
    .logo-buscador{
       width:100%;
       justify-content:space-around;
    }

    .logo{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .logo-cel{
        display: none;
    }

    .link-logo{
        display: flex;
        flex-wrap: wrap;
        width: 33%;
    }

    .buscador{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .copy-header-cel{
        display: none;
    }

    .copy-header-desktop{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        text-align: left;
        width: 39%;
    }

    .burger-menu{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
    }
    
    .main-navbar li {
        margin: 0 5px;
    }
    
    .main-navbar li a {
       font-size: 16px;
    }

    .main-navbar li a:hover{
        text-decoration: underline rgb(116, 113, 113);
    }

    .main-navbar li a:active{
        color: #0831d6;
    }


    /* ---------------------- footer --------------------*/

    footer div i:hover{
        transition: 0.5s;
        color: #0022AA;
    }


    /*----------------------crear cuenta------------------*/
    .crear-cuenta{
        background-color: #5383bd;        
    }
    
    .borrar-todo{
        background-color: rgba(167, 32, 32, 0.8);
    }
    
    
    .crear-cuenta:hover{
        background-color: #0022AA ;
        transition: background-color 0.5s;
    }
    
    .borrar-todo:hover{
        background-color:rgb(201, 7, 7) ;
        transition: background-color 0.5s;
    }
    
    /* ---------------------- login --------------------*/
    
    .boton-login button{
        background-color:#5383bd ;
    }
    .boton-login button:hover{
        transition: 0.5s;
        background-color: #0022AA;
    }    
    
    /*-------------Footer----------------------*/
    footer{
        display: flex;
        flex-flow: column;
        padding: 0 10px;
    }

    
    .copyright, .pie-pagina{
        display: flex; 
    }

    .copyright{
        justify-content: left;
        align-items: flex-end;
    }


}

@media(min-width:769px){

    /*-----------------MAIN-----------------------*/
    
    .articulo-venta{
        width: 22%;
    }
    
    /* ---------------------- header --------------------*/

    .main-header-top-bar {
        display: flex;
        padding-bottom: 20px;
    }
    
    .logo-buscador{
       width: 100%;
       justify-content:space-around;
    }

    .logo{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .logo-cel{
        display: none;
    }

    .link-logo{
        display: flex;
        flex-wrap: wrap;
        width: 33%;
    }
    
    .buscador{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        width: 33%;
    }

    .copy-header-cel{
        display: none;
    }

    .copy-header-desktop{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        text-align: left;
        width: 30%;
        font-size: 16px;
    }


    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    
    .main-navbar li a {
       font-size: 16px;
    }

    nav{
        display: block;
    }
 
/*---------------------footer---------------*/    
    form{
        position: relative;
        top: 60px;
    }

   footer{
        display: block;
        position: relative;
        top: 211px;
    }
}




